<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<nav>
    <label class="logo">Mathematics Website</label>
    <input type="checkbox" id="menu-click">
    <label for="menu-click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a id="home" href="/">Home</a></li>
        <li><a id="about" href="/about">About</a></li>
    </ul>
</nav>
<h2>About Me</h2>
<section class="page-content">
    <div class="about">
        <p id="about-head">The Function of Me</p>
        <p>Let <em>M</em> be the domain of "Me," where <em>M = { Experiences, Passions, Skills }</em>.</p>
        <p>For all <em>x</em> in <em>M</em>, I define myself as a function, denoted as <em>f(x)</em>, such that:</p>
        <p><em>f(x) = E * x + P * x + S * x</em></p>
        <p>where:</p>
        <ul>
            <li><em>E</em> represents the sum of my diverse experiences.</li>
            <li><em>P</em> symbolizes the passion.</li>
            <li><em>S</em> signifies the skills.</li>
        </ul>
        <br>
        <p>In the realm of web development, my variables include:</p>
        <ul>
            <li>HTML as the foundation,</li>
            <li>CSS as the style sheet of expression,</li>
            <li>JavaScript as the dynamic force,</li>
            <li>Python as the versatile tool,</li>
            <li>Other Programming Languages as the expanding set of solutions.</li>
        </ul>
        <p>This function <em>f(x)</em> is not merely a static entity but an ongoing, iterative process, continuously evolving with each new experience, passion, and skill embraced.</p>
    </div>
</section>
</body>
</html>