<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newton-Raphson Root Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<nav>
    <label class="logo">Mathematics Website</label>
    <input type="checkbox" id="menu-click">
    <label for="menu-click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a id="home" href="/">Home</a></li>
        <li><a id="about" href="/about">About</a></li>
    </ul>
</nav>
<section>
    <h2>Newton-Raphson Root Estimation</h2>
    <form id="newton-raphson-form" class="user-input">
            <div class="input-container">
                <label for="function">Enter the Function: </label>
                <input type="text" name="function" id="function" required>
            </div>
            <div class="input-container">
                <label for="guess">Enter the initial guess: </label>
                <input type="text" name="guess" id="guess" required>
            </div>
            <div class="input-container">
                <label for="iterations">Enter the number of iterations: </label>
                <input type="text" name="iterations" id="iterations" required>
            </div>
            <div class="input-container">
                <button type="submit">Find Root</button>
            </div>
    </form>
    <div class="results">
        <div id="result"></div>
        <img id="graph" src="data:image/png;base64,{{ graph_data }}" alt="Newton-Raphson Graph">
    </div>
</section>
<script src="{{ url_for('static', filename='newton_raphson_script.js') }}"></script>
</body>
</html>
